@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap');

*, :before, :after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: 15px;
}

html, body {
	height: 100%;
}

body{
	margin: 0;
	color: #333;
	font-family: 'Work Sans', sans-serif;
}

p {
	line-height: 1.9rem;
	padding: 0 15px
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, p {
	margin: 0;
}

h3 {
	font-size: 150px;
}

h4 {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-weight: bold;	
}

section {
	padding-bottom: 70px;
	padding-top: 20px
}

.w-33 {
	width: 33.33%;	
}

.w-50 {
	width: 50%;
}

.content {
	padding: 10px 15px;
	margin: auto;
	max-width: 1280px;
	width: 100%;
}

.bg-grey{
	background-color: #fafafa;
}

.header {	
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

#menu {
	display: none;
}

.menu{
	&__list_item {
	display: block;
	color: #fff;
	text-decoration: none;

		&:hover {
		color:#10CAB7;
		}
	}
	&__icon{
	color: #fff;
	padding-left: 0px;
	}
}

.main-menu__menu {
	background-color: #2C4755;
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	height: 100%;
	display:none;
}

.hello {
	text-align: center;

	&__heading{
		color: #10CAB7;
		font-size: 55px;
		margin-bottom: 62px;
	}
	&__sub-heading {
		padding-bottom: 100px;
	}
}

.task {
	display: flex;
	flex-wrap: wrap;

	&__col {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		&_thumb {
			padding: 50px;
		}
		&_description {
			padding: 35px 50px 60px 50px;
		}
	}
}

.shadow {
	-webkit-box-shadow: 9px 10px 22px -16px;
	        box-shadow: 9px 10px 22px -16px;
}

.heading{
	width: 100%;
	position: relative;

	&__l-word {
		text-align: center;
		color: #f6f6f6;
		font-size: 150px;
		margin-bottom: 15px;
		font-weight: bold;	
		
	}
	&__sm-word {
		font-size: 18px;
		position: absolute;
		top: 65%;
		right: 50%;
		-webkit-transform: translateX(50%);
		    -ms-transform: translateX(50%);
		        transform: translateX(50%);
		z-index: 1;
	}
}

.services{
	display: flex;
	flex-wrap: wrap;

	&__col {
		display: flex;
		flex-wrap: wrap;		
	
		&_wrapper{
			display: flex;
		}
		&_thumb {
			margin-right: 50px;

		}
		&_text_description {
			padding-bottom: 40px;
		    line-height: 30px;
		}
		&-thumb {
			position: relative;
		}
		&_square-grey {
			position: absolute;
			z-index: -1;
			top: -10%;
			left: 230px;
		}
	}	
}

.portfolio{
	display: flex;
	flex-wrap: wrap;

	&__col{
		padding: 15px;

		&_thumb {
			width: 100%;
		}
	}
}

.about {
	display: flex;
	flex-wrap: wrap;

	&__thumb {
		padding: 0 15px;
	}
	&__description {
		padding: 0 15px;
		
		&_text-bold {
			color: #334752;
		    font-weight: bold;
		    margin: 30px 0;
		}
		&_underline {
			padding-left: 15px;
		}
	}
}

.contact {
	&__description {
		color: #2C4755;
	    margin-bottom: 15px;
	    font-size: 55px;
	    font-weight: bold;	
	}
	&__e-mail {
		color: #10CAB7;
	    font-size: 50px;
	    font-weight: bold;
	    padding-left: 15px;
	}
	&__icons{
		padding-top: 20px;
		text-align: center;

		&_item{
			color: #2C4755;
			padding-left: 15px;
		}
	}
}

.footer {
	background-color:#2C4755;

	&__text{
		color:#fff;
		padding: 15px;
		text-align: center;

		&_word{
			color:#10CAB7;
		}
	}
}

@media (max-width: 992px) {
	.w-50 {
		width: 100%;
	}
 
	.w-33, .w-25 {
		width: 50%
	}
}

@media (max-width: 768px) {
	.hello__heading, .contact__description{
		font-size: 40px;
	}

	.heading__l-word{
		font-size: 85px;
	}
	
	.heading__sm-word {
		font-size: 12px;
		text-align: center;
	}

	.w-33, .w-25 {
		width: 100%;
	}
}

@media (max-width: 576px) {
	input[id = "menu"]:checked ~ .main-menu__menu{
			display: block;
	}	

	.hello__heading, .contact__description {
		font-size: 30px ;
	}

	.heading__l-word{
		font-size: 65px ;
	}

	.heading__sm-word {
		font-size: 10px;
		text-align: center;
	}

	.contact__e-mail {
		font-size: 20px;
	}	

	.contact__icons_item {
		padding-left: 5px;
	}
}